* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #5b5656;
}

h1 {
  width: 100%;
  background-color: #f5eaea;
  padding: 20px;
  color: #7fcd91;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.container {
  width: 450px;
  height: 650px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 2%;
}

.input {
  width: 100%;
  /* border: 1px solid yellow; */
  height: 25%;
}

input {
  width: 100%;
  height: 100%;
  background-color: #f5eaea;
  border: none;
  text-align: right;
  font-size: 80px;
  padding: 0;
  color: #192965;
}

.button-row-1 {
  /* border: 1px solid black; */
  width: 100%;
  height: 12%;
}

.btn-rw-1 {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
}

button {
  border: none;
  background-color: #4d4646;
  color: #7fcd91;
  font-size: 36px;
}

.button-row-2 {
  width: 100%;
  height: 15.8%;
  border-top: 1px solid #5b5656;
}

.btn-rw-2 {
  display: block;
  float: left;
  width: 20%;
  height: 100%;
  border: 1px solid #5b5656;
}

.button-row-3 {
  width: 100%;
  height: 15.8%;
  border-top: 1px solid #5b5656;
}

.btn-zero {
  display: block;
  float: left;
  width: 60%;
  height: 100%;
  border: 1px solid #5b5656;
}

.btn-dec {
  display: block;
  float: left;
  width: 20%;
  height: 100%;
  border: 1px solid #5b5656;
}

.btn-equal {
  display: block;
  float: left;
  width: 20%;
  height: 100%;
  border: 1px solid #5b5656;
}
